<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
    <title>404error page</title>
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto ">
              <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <!-- right side -->
                    <figure>
                      <img src="img/errorgif.gif" alt="404" class="img-fluid" title="404error">
                    </figure>
                  </div>
                <div class="col-md-6 col-12 main_header_left">
                  <!-- left side -->
                  <h1>{{errorMsg}}</h1>
                  <a href="/" target="_blank"><button class="btn btn-danger">Back to Home Page</button></a>
                </div>
              </div>
          </div>
      </div>
    </div>
    {{>footer}}
</body>
</html>